/DevProject/Library/
/DevProject/Temp/
/DevProject/Obj/
/DevProject/Logs/
/DevProject/UserSettings/
/DevProject/.vs/
/DevProject/Assets/RaiseArcGames/
/DevProject/Assets/RaiseArcGames.meta
/DevProject/Assets/PrincessStudioContent/
/DevProject/Assets/PrincessStudioContent.meta
/DevProject/Assets/AddressableAssetsData/
/DevProject/Assets/AddressableAssetsData.meta
/website/node_modules/
/website/build/
/website/.docusaurus/
*.csproj
*.sln
*.unitypackage
*.log
*.tmp
